body {
  font-family: 'Rubik';
}

footer {
  background-color: #1e2022;
  height: 200px;
  margin-top: 80px;
}

.about-us-block {
  width: 256px;
}

.logo-footer {
  color: #fff;
  font-weight: 500;
  letter-spacing: 0.02rem;
}

.about-us {
  color: #eff3f9;
  font-size: 12px;
  line-height: 18px;
  padding-bottom: 2px;
}

.links {
  display: flex;
  gap: 33px;
  padding-top: 4px;
}

.link {
  color: #fff;
  font-size: 14px;
  transition: all 0.15s ease-in-out;
}

.link:hover {
  color: #c8c9ca;
}

.foot {
  display: flex;
  justify-content: space-between;
  padding-top: 50px;
  align-items: center;
  margin-left: 405px;
  width: 1295px;
}

@media (max-width: 1750px) {
  .foot {
    margin-left: 405px;
    width: 1095px;
  }
}

@media (max-width: 1500px) {
  .foot {
    margin-left: 405px;
    width: 805px;
  }
}

@media (max-width: 1280px) {
  .foot {
    margin-left: 405px;
    width: 605px;
  }
}

@media (max-width: 1024px) {
  .foot {
    margin-left: 35px;
    width: 855px;
  }

  .link {
    font-size: 12px;
  }

  .logo-footer {
    font-size: 14.5px;
  }

  .about-us {
    font-size: 11.5px;
  }
}

@media (max-width: 940px) {
  .foot {
    margin-left: 25px;
    width: 785px;
  }
}

@media (max-width: 768px) {
  .foot {
    margin-left: 25px;
    width: 645px;
  }
}

@media (max-width: 700px) {
  .foot {
    margin-left: 25px;
    width: 555px;
  }
}

@media (max-width: 590px) {
  .foot {
    margin-left: 25px;
    width: 505px;
  }
}

@media (max-width: 480px) {
  .foot {
    left: 10px;
    width: calc(100% - 0px);
  }
}
