.prices-block {
  padding-top: 92px;
  padding-bottom: 50px;
  position: absolute;
  left: 355px;
}

.title-top-cards {
  color: #fff;
  font-size: 26px;
  font-weight: 300;
  padding-top: 18px;
}

.text-green {
  padding-top: 38px;
}

.text-red {
  padding-top: 38px;
}

.prices {
  display: flex;
  flex-wrap: wrap;
}
.title-prices {
  color: #a1a1a1;
  font-weight: 300;
  font-size: 16px;
}
.cards-prices {
  display: flex;
  gap: 18px;
}
.card-prices-closed,
.card-prices-opened {
  width: 551px;
  background-color: #151718;
  border-radius: 35px;
  padding-left: 16px;
  box-sizing: border-box;
}

.card-prices-closed {
  height: 276px !important;
}

.card-prices-opened {
  height: 716px !important;
}

.trending-title {
  color: #fff;
  font-size: 22px;
  font-weight: 300;
}
.coin-trending {
  display: flex;
  width: 519px;
  height: 56px;
  background-color: #212325;
  border-radius: 30px;
  align-items: center;
  justify-content: space-between;
  padding: 0px 15px;
  box-sizing: border-box;
  margin-bottom: 7px;
}

.top-card-prices {
  display: flex;
  justify-content: space-between;
  width: 505px;
}

.price-card-prices {
  color: #ffffff;
  font-weight: 300;
}

.index-coin {
  color: #fff;
}
.img-coin {
  width: 24px;
  padding-left: 12px;
  padding-right: 10px;
}
.name-coin-prices {
  color: #fff;
  padding-right: 5px;
}

.seeAll-prices {
  color: #77ed91;
  font-size: 14px;
}

.subname-coin-prices {
  font-size: 12px;
  color: #a1a1a1;
}
.precent {
  color: #2dc24e;
  font-weight: 300;
}
.coin-content {
  display: flex;
  align-items: center;
}

.cards-carousel1,
.cards-carousel2,
.cards-carousel3 {
  position: absolute;
  left: 355px;
  width: calc(100% - 355px);
  overflow-x: hidden;
  transition: top 0.3s ease-in-out;
}

.cards-carousel1 {
  top: 525px !important;
}

.cards-carousel2 {
  top: 945px !important;
}

.cards-carousel3 {
  top: 945px !important;
}

@media (max-width: 1468px) {
  .card-prices-closed,
  .card-prices-opened {
    width: 451px !important;
    background-color: #151718;
    border-radius: 35px;
    padding-left: 16px;
    box-sizing: border-box;
  }
  .card-prices-closed {
    height: 276px;
  }

  .top-card-prices {
    display: flex;
    justify-content: space-between;
    width: 405px;
  }

  .coin-trending {
    display: flex;
    width: 419px;
    height: 56px;
    background-color: #212325;
    border-radius: 30px;
    align-items: center;
    justify-content: space-between;
    padding: 0px 15px;
    box-sizing: border-box;
    margin-bottom: 7px;
  }
}

@media (max-width: 1268px) {
  .cards-prices {
    display: flex;
    flex-direction: column;
  }

  .card-prices-closed,
  .card-prices-opened {
    width: 651px !important;
    background-color: #151718;
    border-radius: 35px;
    padding-left: 16px;
    box-sizing: border-box;
  }

  .card-prices-closed {
    height: 276px;
  }
  .top-card-prices {
    display: flex;
    justify-content: space-between;
    width: 605px;
  }

  .coin-trending {
    display: flex;
    width: 619px;
    height: 56px;
    background-color: #212325;
    border-radius: 30px;
    align-items: center;
    justify-content: space-between;
    padding: 0px 15px;
    box-sizing: border-box;
    margin-bottom: 7px;
  }

  .cards-carousel1 {
    top: 810px !important;
  }

  .cards-carousel2 {
    top: 1245px !important;
  }

  .cards-carousel3 {
    top: 1690px !important;
    padding-bottom: 40px;
  }
}

@media (max-width: 1200px) {
  .prices-block {
    left: 300px;
    width: calc(100% - 310px);
  }

  .cards-carousel1,
  .cards-carousel2,
  .cards-carousel3 {
    left: 300px;
    width: calc(100% - 300px);
  }
}

@media (max-width: 1024px) {
  .prices-block {
    left: 60px;
    width: calc(100% - 190px);
  }

  .cards-carousel1,
  .cards-carousel2,
  .cards-carousel3 {
    left: 60px;
    width: calc(100% - 60px);
  }
}

@media (max-width: 768px) {
  .prices-block {
    left: 40px;
    width: calc(100% - 135px);
  }

  .cards-carousel1,
  .cards-carousel2,
  .cards-carousel3 {
    left: 40px;
    width: calc(100% - 40px);
  }

  .cards-prices {
    display: flex;
    flex-direction: column;
  }

  .trending-title {
    font-size: 18px;
  }

  .card-prices-closed,
  .card-prices-opened {
    width: 433px !important;
    background-color: #151718;
    border-radius: 35px;
    padding-left: 16px;
    box-sizing: border-box;
  }

  .card-prices-closed {
    height: 276px;
  }

  .top-card-prices {
    display: flex;
    justify-content: space-between;
    width: 390px;
  }

  .coin-trending {
    display: flex;
    width: 400px;
    height: 56px;
    background-color: #212325;
    border-radius: 30px;
    align-items: center;
    justify-content: space-between;
    padding: 0px 15px;
    box-sizing: border-box;
    margin-bottom: 7px;
  }
}

@media (max-width: 490px) {
  .prices-block {
    gap: 40%;
    left: 20px;
    margin-bottom: 100px !important;
    padding-bottom: 100px !important;
  }

  .cards-carousel1,
  .cards-carousel2,
  .cards-carousel3 {
    left: 20px;
    width: calc(100% - 30px);
  }

  .card-prices-closed,
  .card-prices-opened {
    width: 377px !important;
    background-color: #151718;
    border-radius: 35px;
    padding-left: 16px;
    box-sizing: border-box;
  }

  .card-prices-closed {
    height: 260px;
  }
  .top-card-prices {
    display: flex;
    justify-content: space-between;
    width: 327px;
  }

  .coin-trending {
    display: flex;
    width: 347px;
    height: 56px;
    background-color: #212325;
    border-radius: 30px;
    align-items: center;
    justify-content: space-between;
    padding: 0px 15px;
    box-sizing: border-box;
    margin-bottom: 8px;
  }
}

@media (max-width: 420px) {
  .prices-block {
    gap: 40%;
    left: 20px;
    margin-bottom: 100px !important;
    padding-bottom: 100px !important;
  }

  .card-prices-closed,
  .card-prices-opened {
    width: 315px !important;
    background-color: #151718;
    border-radius: 35px;
    padding-left: 16px;
    box-sizing: border-box;
  }

  .card-prices-closed {
    height: 260px;
  }

  .top-card-prices {
    display: flex;
    justify-content: space-between;
    width: 265px;
  }

  .coin-trending {
    display: flex;
    width: 285px;
    height: 56px;
    background-color: #212325;
    border-radius: 30px;
    align-items: center;
    justify-content: space-between;
    padding: 0px 15px;
    box-sizing: border-box;
    margin-bottom: 8px;
  }
}

@media (max-width: 380px) {
  .cards-carousel {
    width: calc(90%);
  }
}

@media (max-width: 340px) {
  .cards-carousel {
    width: 340px;
  }
}
