.menu-bottom {
  display: flex;
  justify-content: center;
  z-index: 100;
}

.menu-content {
  position: fixed;
  bottom: 20px;
  width: 240px;
  height: 50px;
  background-color: #151718;
  border-radius: 12px;
  display: flex;
  justify-content: center;
  align-items: end;
  padding-bottom: 13px;
  box-sizing: border-box;
  gap: 5px;
}

.menu-bottom-link {
  color: #fff;
  font-size: 12px;
  text-decoration: none;
  align-items: center;
}

.menu-bottom-button {
  border-radius: 6px;
  padding: 2px 7px;
  cursor: pointer;
  transition: all 0.1s ease-in-out;
}

.menu-bottom-button:hover {
  filter: blur(1px);
}
