@import url('https://fonts.cdnfonts.com/css/lufga');

body {
  background-color: #ffffff;
  font-family: 'lufga';
}

button,
input {
  all: unset;
}

button {
  cursor: pointer;
}

button:hover {
  opacity: 0.8;
}
/*                          */

.cards-carousel {
  display: flex;
  flex-wrap: wrap;
}
